#nav-bar {
  background-color : #00a087;
  color : #e8fdff;
  height : 80px;
  width : 100%;
  top : 0;
  position : fixed;
  padding : 0 2rem;


}

#nav-bar .header {
  font-size : 2em;
  line-height : 2.4;
  float : left;
}

#nav-bar .logo {
  height : 80px;
  width : 80px;
  float : left;
  margin : 0 10px 0 0;
}
