#nav-bar {
  background-color : #00a087;
  color : #e8fdff;
  height : 80px;
  width : 100%;
  top : 0;
  position : fixed;
  padding : 0 2rem;
  z-index : 1;
}

#nav-bar .header {
  font-size : 2em;
  line-height : 2.4;
  float : left;
}

#nav-bar .logo {
  height : 80px;
  width : 80px;
  float : left;
  margin : 0 10px 0 0;
}

#nav-bar .composer {
  float : right;
  background-color : cornsilk;
  border-radius : 5px;
  height : 60px;
  margin-top : 10px;
  border : 1px solid black;
}

#nav-bar .composer:hover {
  float : right;
  background-color : cornsilk;
  border-radius : 5px;
  height : 60px;
  margin-top : 10px;
  border : 1px solid black;
  opacity : 0.5;
  cursor : grab;
}