#nav-bar {
  background-color : #00a087;
  color : #e8fdff;
  height : 80px;
  width : 100%;
  position : fixed;
  padding : 0 2rem;
  margin : 0;
  font-size : 2em;
  line-height : 2.4;
}

#nav-bar img {
  height : 80px;
  width : 80px;
  float : left;
  margin : 0 10px 0 0;
}
